@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, #000000 2%, #3D1F1F 100%);
    width: 100%;
}

header.logo {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    padding-top: 59px;
    padding-left: 96px;
}

.hero-container {
    position: relative;
    padding-top: 121px;
    overflow:hidden;
}

.hero--info {
    width: 779px;
    padding-left: 96px;
}

.hero--info h2 {
    color: #FF7F00;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: -36px;
}

.hero--info h1 {
    font-size: 128px;
    font-weight: 900;
    margin-bottom: -15px
}

.hero--info p {
    font-size: 32px;
    font-weight: 600;
}

.hero--info .btn {
    background: #FF7F00;
    color: #fff;
    border-radius: 25px;
    margin-top: 125px;
    padding: 36px 60px;
    border: 0;
    transition: all 500ms ease;
    font-size: 36px;
    font-weight: 800;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero-container img {
    position: absolute;
    top: 126px;
    right: 128px;
}