@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, #000000 2%, #3D1F1F 100%);
    width: 100%;
}

.paragraph-about {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.about-me-header {
    font-size: 96px;
    font-weight: 900;
    color: #fff
}

.btn1 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    background-color: #FF7F00;
    padding: 14px 21px 14px 21px;
    border-radius: 25px;
    transition: all 500ms ease;
}

.btn1:hover {
    cursor: pointer;
    transform: scale(1.1);
}

header.logo {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    padding-top: 59px;
    padding-left: 96px;
}

.hero-container {
    position: relative;
    padding-top: 121px;
    overflow:hidden;
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.hero--info {
    max-width: 779px;
    padding-left: 96px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: start;
}

.hero--info h2 {
    color: #FF7F00;
    font-size: 40px;
    font-weight: 800;
}

.hero--info h1 {
    font-size: 128px;
    font-weight: 900;
    line-height: 7rem;
}

.hero--info p {
    font-size: 32px;
    font-weight: 600;
}

.hero--info .btn {
    background: #FF7F00;
    color: #fff;
    border-radius: 25px;
    margin-top: 125px;
    padding: 25px 60px;
    border: none;
    transition: all 500ms ease;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 15px;
}

.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero--image {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.about-me {
    margin-top: 100px;
}

.about-me-header {
    text-align: center;
}

.info1-start {
    display: flex;
    align-items: center;
    gap: 80px;
}

.info1-end {
    display: flex;
    align-items: center;
    gap: 29px;
    justify-content: flex-end;
}

.info1-end>div {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.info2-start {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 64px;
}

.info2-end {
    display:flex;
    align-content: center;
    gap:45px;
    justify-content: flex-end;
    margin-top: 99px;
}

.info2-end>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.info3 {
    display: flex;
    justify-content: center;
    margin-top: 200px
}

.info3>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info3>div>p {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    padding: 10px
}